.btn {
    min-width: 300px;
    text-align: center;
}
li {
    font-size: 21px;
    font-weight: 200;
}
cite {
    font-family: "Courier New";
    font-style: normal;
}

div.container {
    min-height: 100vh;
}
div.jumbotron {
    min-height: 100vh;
}
