<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Intrusion</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Thank you!</h1>
            <p>
                You tagged all samples. Now, please e-mail <cite>out/results.txt</cite> to my student mail
                address <cite>stefan.bunk@[...]</cite>
            </p>
            <hr>
            <footer>
                Master thesis on "Improving Probabilistic Topic Models with Word Embeddings" by Stefan Bunk, 2016
            </footer>
        </div>
    </div>
</body>
</html>