<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Intrusion</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Hello!</h1>
            <p>Hey, you already tagged xxx topics. Continue?</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Continue tagging</a></p>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>