<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Intrusion</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Which word does not fit? {{ extra_text }}</h2>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form action="/topic/{{ current_id + 1 }}" method="POST">
                        <input type="hidden" name="method" value="{{ method }}"/>
                        <input type="hidden" name="intrusion_idx" value="{{ current_id }}"/>
                        <input type="hidden" name="intrusion_id" value="{{ intrusion_id }}"/>
                        <input type="hidden" name="words" value="{{ ",".join(words) }}"/>
                        <input type="hidden" name="intruder" value="{{ intruder }}"/>
                        <button type="submit" name="selected_word" value="{{ words[0] }}" class="btn btn-primary btn-lg">{{ words[0] }}</button> <br> <br>
                        <button type="submit" name="selected_word" value="{{ words[1] }}" class="btn btn-primary btn-lg">{{ words[1] }}</button> <br> <br>
                        <button type="submit" name="selected_word" value="{{ words[2] }}" class="btn btn-primary btn-lg">{{ words[2] }}</button> <br> <br>
                        <button type="submit" name="selected_word" value="{{ words[3] }}" class="btn btn-primary btn-lg">{{ words[3] }}</button> <br> <br>
                        <button type="submit" name="selected_word" value="{{ words[4] }}" class="btn btn-primary btn-lg">{{ words[4] }}</button> <br> <br>
                        <button type="submit" name="selected_word" value="{{ words[5] }}" class="btn btn-primary btn-lg">{{ words[5] }}</button> <br> <br>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            {% if glossary %}
                <h3>Glossary</h3>
                {% for entry in glossary %}
                <p>
                    <strong>{{ entry[0] }}:</strong>
                    <span>{{ entry[1] }}</span>
                </p>
                {% endfor %}
            {% endif %}
            <hr>
            <footer>
                Master thesis on "Improving Probabilistic Topic Models with Word Embeddings" by Stefan Bunk, 2016
            </footer>
        </div>
    </div>
</body>
</html>