<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Intrusion</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Which word does not fit?</h2>
            <button type="button" class="btn btn-primary btn-lg">{{ words[0] }}</button> <br> <br>
            <button type="button" class="btn btn-primary btn-lg">{{ words[1] }}</button> <br> <br>
            <button type="button" class="btn btn-primary btn-lg">{{ words[2] }}</button> <br> <br>
            <button type="button" class="btn btn-primary btn-lg">{{ words[3] }}</button> <br> <br>
            <button type="button" class="btn btn-primary btn-lg">{{ words[4] }}</button> <br> <br>
            <button type="button" class="btn btn-primary btn-lg">{{ words[5] }}</button> <br> <br>
            <!--<div class="row">-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">Foo</button></div>-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">Bonzonon</button></div>-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">bar</button></div>-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">fucking</button></div>-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">hyperpolarization</button></div>-->
                <!--<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg">omg</button></div>-->
            <!--</div>-->
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>